/* = RESET = */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.15; }

a, button, input {
  -webkit-transition: all .35s linear;
  -o-transition: all .35s linear;
  transition: all .35s linear; }

a, button, div, span, input {
  outline: none !important; }

input {
  border: 1px solid #000; }

button {
  outline: none !important;
  border: none;
  cursor: pointer;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  text-decoration: none;
  color: #57ADAD; }

img {
  max-width: 100%;
  border-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0; }

audio, video {
  display: inline-block; }

article, aside, footer, header, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  padding: 0;
  margin: 0; }

/* = RESET END = */
@font-face {
  font-family: "Roboto Regular";
  src: url("../assets/fonts/Roboto/Regular/Roboto-Regular.ttf");
  src: url("../assets/fonts/Roboto/Regular/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Roboto Bold";
  src: url("../assets/fonts/Roboto/Bold/Roboto-Bold.ttf");
  src: url("../assets/fonts/Roboto/Bold/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Soyuz Grotesk Bold";
  src: url("../assets/fonts/SoyuzGrotesk/Bold/SoyuzGrotesk-Bold.woff");
  src: url("../assets/fonts/SoyuzGrotesk/Bold/SoyuzGrotesk-Bold.woff") format("woff"), url("../assets/fonts/SoyuzGrotesk/Bold/SoyuzGrotesk-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Inter Medium";
  src: url("../assets/fonts/Inter/Medium/Inter-Medium.ttf");
  src: url("../assets/fonts/Inter/Medium/Inter-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body,
html {
  overflow-x: hidden; }

body {
  color: #000000;
  background-color: #ffffff;
  font-size: 18px;
  font-family: "Roboto Regular", Arial, Helvetica, sans-serif; }

.button {
  background-color: transparent;
  border: 2px solid #ffffff;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.button__label {
  font-family: "Soyuz Grotesk Bold";
  font-size: 16px;
  margin-right: 25px;
  color: #ffffff; }

.button__icon {
  height: 10px;
  fill: #ffffff; }

.title {
  font-family: "Soyuz Grotesk Bold";
  font-size: 95px;
  text-align: center; }
  .title span {
    display: block; }
  .title__2 {
    font-size: 75px; }
  .title__3 {
    font-size: 55px; }
  .title__4 {
    font-size: 40px; }

.description-list {
  margin-bottom: 240px; }

.description-item {
  border-top: 3px solid #000000;
  padding-top: 12px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .description-item:last-child {
    padding-bottom: 0; }

.description-item__label {
  font-size: 26px;
  font-family: "Soyuz Grotesk Bold";
  width: 50%; }

.description-item-information {
  width: 50%; }

.description-item-information__text {
  font-size: 18px;
  line-height: 1.35;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .description-item-information__text:last-child {
    margin-bottom: 0; }
  .description-item-information__text .x {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px); }

.description-item-information__plus {
  padding-top: 50px;
  font-family: "Soyuz Grotesk Bold";
  font-size: 24px; }

.x {
  display: inline-block;
  position: relative; }
  .x__item:nth-child(1) {
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg); }
  .x__item:nth-child(2) {
    width: 100%;
    height: 5px;
    background-color: #5D24D4;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg); }
  .x_purple .x__item {
    background-color: #5D24D4; }
  .x.x_dark .x__item {
    background-color: #000000; }
  .x.x_dark.x_outline .x__item {
    border: 1px solid #ffffff; }
  .x.x_dark.x_outline:before {
    content: '';
    width: calc(100% - 2px);
    height: 3px;
    background-color: #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg); }

.dark-mode {
  background-color: #000000 !important; }
  .dark-mode .description-item {
    border-top-color: #ffffff; }
  .dark-mode .x_dark:not(.x_outline) .x__item {
    background-color: #ffffff !important; }
  .dark-mode * {
    color: #ffffff !important;
    fill: #ffffff !important;
    border-color: #ffffff !important; }

.light-mode {
  background-color: #ffffff !important; }
  .light-mode .x_dark .x__item {
    background-color: #000000 !important; }
  .light-mode .x.x_outline .x__item {
    background-color: #000000 !important; }
  .light-mode * {
    color: #000000 !important;
    fill: #000000 !important;
    border-color: #000000 !important; }

.text {
  font-family: "Soyuz Grotesk Bold";
  font-size: 36px;
  color: #000000;
  width: 100%;
  margin: 0 auto; }

.text__title {
  display: inline-block;
  font-family: "Roboto Bold";
  font-size: 14px;
  width: 50%;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px); }

.text__underline {
  text-decoration: underline; }

.text__little {
  font-size: 16px;
  font-family: "Roboto Bold"; }

.header-navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 100px 15px 100px;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform .35s ease-in;
  transition: -webkit-transform .35s ease-in;
  -o-transition: transform .35s ease-in;
  transition: transform .35s ease-in;
  transition: transform .35s ease-in, -webkit-transform .35s ease-in; }

.navigation-logo {
  color: #000000;
  font-family: "Roboto Bold";
  font-size: 12px; }
  .navigation-logo span {
    display: block;
    font-family: "Soyuz Grotesk Bold";
    font-size: 26px; }

.navigation-mode-button {
  width: 32px;
  height: 32px;
  background-color: transparent; }

.navigation-mode-button__icon {
  height: 100%; }

.header {
  background-color: #000000;
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 101;
  overflow: hidden; }
  .header .container {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.skr4t-information {
  text-align: center; }

.skr4t-information__title {
  color: #ffffff;
  font-family: "Roboto Bold";
  font-size: 18px; }

.skr4t-information__subtitle {
  color: #ffffff;
  font-family: "Soyuz Grotesk Bold";
  font-size: 135px;
  line-height: 1; }

.skr4t-start {
  position: absolute;
  right: 0;
  bottom: 60px;
  opacity: 0;
  -webkit-transition: opacity .75s ease-in;
  -o-transition: opacity .75s ease-in;
  transition: opacity .75s ease-in; }

.skr4t-start__text {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px; }

.main {
  position: fixed;
  height: 0;
  overflow: hidden;
  background: -o-linear-gradient(238.9deg, #5D24D5 0%, #2F17C0 100%);
  background: linear-gradient(211.1deg, #5D24D5 0%, #2F17C0 100%); }

.information {
  min-height: 100vh;
  background-color: #ffffff;
  position: relative; }
  .information .container {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.information-course {
  color: #000000;
  position: absolute;
  right: 0;
  bottom: 60px; }
  .information-course .button {
    border-color: #000000;
    margin-right: 30px; }
  .information-course .button__label {
    color: #000000; }
  .information-course .button__icon {
    fill: #000000; }

.information-course__text {
  line-height: 1.5;
  margin-bottom: 30px; }

.info-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.info-nav__link {
  color: #000000;
  text-decoration: underline;
  font-family: "Soyuz Grotesk Bold";
  font-size: 16px; }

.description {
  background-color: #ffffff;
  padding-top: 175px;
  padding-bottom: 100px; }
  .description .text {
    margin-bottom: 75px; }

.description-whom {
  width: 100%;
  margin: 0 auto; }

.description-whom__title {
  font-family: "Soyuz Grotesk Bold";
  margin-bottom: 75px;
  font-size: 35px; }

.author .text {
  color: #ffffff;
  margin-bottom: 75px; }

.author .text__little {
  font-family: "Soyuz Grotesk Bold"; }

.author__title {
  font-size: 115px;
  text-align: center;
  font-family: "Soyuz Grotesk Bold";
  background: -o-linear-gradient(222.21deg, #2F17C0 14.5%, #5D24D5 85.82%);
  background: linear-gradient(227.79deg, #2F17C0 14.5%, #5D24D5 85.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 75px; }

.author-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px; }

.author-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 170px; }

.author-description__photo {
  height: 700px; }

.author-description-wrapper {
  width: 515px;
  color: #ffffff;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px); }

.author-description-wrapper__name {
  font-family: "Soyuz Grotesk Bold";
  font-size: 36px;
  margin-bottom: 40px; }

.author-description-wrapper__text {
  font-size: 16px;
  margin-bottom: 45px;
  line-height: 1.35; }
  .author-description-wrapper__text:last-child {
    margin-bottom: 70px; }

.author-description-wrapper__background {
  font-size: 36px;
  font-family: "Roboto Bold";
  margin-bottom: 30px; }
  .author-description-wrapper__background:last-child {
    margin-bottom: 0; }
  .author-description-wrapper__background span {
    display: block;
    font-size: 18px; }

.video {
  width: 100%;
  height: 550px;
  background-color: #C9C9C9; }

.after__title {
  color: #ffffff;
  font-family: "Soyuz Grotesk Bold";
  font-size: 115px;
  text-align: center;
  line-height: 1;
  margin-bottom: 75px; }

.swiper-button-prev {
  background-color: #ffffff;
  width: 82px;
  height: 82px;
  border-radius: 50%; }
  .swiper-button-prev::after {
    font-family: none;
    color: transparent;
    height: 9px;
    width: 24px;
    background-image: url(../assets/images/swiper-arrow.svg);
    -webkit-transform: scale(-1);
    -ms-transform: scale(-1);
    transform: scale(-1); }

.swiper-button-next {
  background-color: #ffffff;
  width: 82px;
  height: 82px;
  border-radius: 50%; }
  .swiper-button-next::after {
    font-family: none;
    color: transparent;
    height: 9px;
    width: 24px;
    background-image: url(../assets/images/swiper-arrow.svg); }

.swiper-1 {
  width: 100%;
  height: 900px; }
  .swiper-1 .swiper-slide {
    width: 85%;
    position: relative;
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 5vw;
    padding-bottom: 5vw; }
    .swiper-1 .swiper-slide::before {
      content: '';
      width: 100%;
      height: 100%;
      background: -o-linear-gradient(0.53deg, rgba(0, 0, 0, 0.6) 0.47%, rgba(0, 0, 0, 0) 99.57%);
      background: linear-gradient(89.47deg, rgba(0, 0, 0, 0.6) 0.47%, rgba(0, 0, 0, 0) 99.57%);
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1; }
  .swiper-1 .swiper-button-prev {
    left: 40px; }
    .swiper-1 .swiper-button-prev.swiper-button-disabled {
      display: none; }
  .swiper-1 .swiper-button-next {
    right: 40px; }
    .swiper-1 .swiper-button-next.swiper-button-disabled {
      display: none; }

.video-clip {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center top;
  object-position: center top; }

.after-description {
  position: relative;
  z-index: 2;
  padding-top: 10px;
  border-top: 2px solid #ffffff;
  max-width: 870px;
  width: 100%; }
  .after-description .button {
    margin-top: 20px; }

.after-description__title {
  color: #ffffff;
  margin-bottom: 25px;
  font-family: "Soyuz Grotesk Bold"; }

.after-description__item {
  color: #ffffff;
  margin-bottom: 10px;
  padding-left: 18px;
  position: relative; }
  .after-description__item::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #5D24D4;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg); }

.after-course {
  background-color: #ffffff;
  padding-top: 170px;
  padding-bottom: 150px; }
  .after-course .description-list {
    margin-bottom: 150px; }
  .after-course .text {
    margin-bottom: 150px; }
  .after-course .title .x {
    display: block;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    -webkit-animation: x 3s linear infinite;
    animation: x 3s linear infinite; }
    .after-course .title .x__item {
      height: 100px; }

@-webkit-keyframes x {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-55px);
    transform: translateY(-55px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes x {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-55px);
    transform: translateY(-55px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.problems {
  background-color: #000000;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 150px; }
  .problems .description-item {
    border-color: #ffffff; }
  .problems .text {
    color: #ffffff; }

.problems-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #000000;
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative; }
  .problems-video .arrow {
    position: absolute;
    left: 50%;
    bottom: 40px;
    -webkit-transform: translate(-50%, 0) rotate(90deg);
    -ms-transform: translate(-50%, 0) rotate(90deg);
    transform: translate(-50%, 0) rotate(90deg);
    width: 45px;
    z-index: 3;
    -webkit-animation: arrow 1s linear infinite;
    animation: arrow 1s linear infinite; }
  .problems-video .container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%; }

@-webkit-keyframes arrow {
  0% {
    bottom: 40px; }
  50% {
    bottom: 35px; }
  100% {
    bottom: 40px; } }

@keyframes arrow {
  0% {
    bottom: 40px; }
  50% {
    bottom: 35px; }
  100% {
    bottom: 40px; } }

.problems-video::-webkit-scrollbar {
  display: none; }

.problems-video-wrapper {
  max-width: 900px;
  width: 100%;
  height: 600px;
  background-color: #8f8a8a;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  .problems-video-wrapper .video-clip {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
  .problems-video-wrapper:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }
  .problems-video-wrapper:nth-child(2) {
    background-color: #f4f4f4; }
  .problems-video-wrapper:nth-child(3) {
    background-color: #867c7c; }

.problems-video-item {
  max-width: 870px;
  width: 100%;
  padding-top: 11px;
  border-top: 2px solid #ffffff;
  position: absolute;
  left: 0;
  top: 100px;
  opacity: 0;
  -webkit-transition: opacity .35s ease-in-out;
  -o-transition: opacity .35s ease-in-out;
  transition: opacity .35s ease-in-out; }
  .problems-video-item:nth-child(1) {
    opacity: 1; }

.problems-video-item__label {
  margin-bottom: 50px;
  font-family: "Soyuz Grotesk Bold";
  font-size: 26px;
  color: #ffffff; }

.problems-video-item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  color: #ffffff; }
  .problems-video-item__text:last-child {
    margin-bottom: 0; }
  .problems-video-item__text .x {
    width: 16px;
    height: 16px;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
    margin-right: 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }

.course-program {
  background: -o-linear-gradient(238.9deg, #5D24D5 0%, #2F17C0 100%);
  background: linear-gradient(211.1deg, #5D24D5 0%, #2F17C0 100%);
  padding-top: 150px;
  padding-bottom: 25px; }
  .course-program .text {
    color: #ffffff;
    margin-bottom: 100px; }

.course-program__title {
  color: #ffffff;
  text-align: center;
  font-size: 100px;
  font-family: "Soyuz Grotesk Bold";
  margin-bottom: 120px; }

.course-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 150px; }

.course-advantages__image {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 425px; }

.course-advantages-wrapper {
  width: 515px; }

.course-advantages-wrapper__title {
  color: #ffffff;
  margin-bottom: 28px;
  font-family: "Soyuz Grotesk Bold";
  font-size: 26px; }

.course-advantages-wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 5px; }
  .course-advantages-wrapper__item .plus {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../assets/images/plus.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 10px;
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px); }
  .course-advantages-wrapper__item_plus {
    font-size: 18px;
    font-family: "Roboto Bold";
    margin-top: 35px; }
    .course-advantages-wrapper__item_plus .plus {
      background-image: url(../assets/images/plus-bold.svg); }

.program-list {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 15px; }

.program-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #ffffff; }
  .program-row:first-child {
    border: none; }

.program-column {
  width: 50%; }
  .program-column:first-child {
    border-right: 1px solid #ffffff; }

.program-label {
  margin-top: 13px;
  margin-bottom: 24px;
  font-size: 26px;
  font-family: "Soyuz Grotesk Bold";
  color: #ffffff; }

.program-title {
  margin-bottom: 24px;
  font-size: 26px;
  font-family: "Soyuz Grotesk Bold";
  color: #ffffff; }

.program-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.program-tabs__item {
  padding: 13px 21px;
  color: #ffffff;
  border: 2px solid #5D24D4;
  border-radius: 30px;
  font-family: "Soyuz Grotesk Bold";
  font-size: 16px;
  margin-right: 6px; }
  .program-tabs__item:last-child {
    margin-right: 0; }

.program-steps {
  padding-top: 65px;
  padding-bottom: 45px;
  padding-left: 40px;
  border-bottom: 1px solid #ffffff; }

.program-steps__item {
  color: #ffffff;
  font-size: 16px;
  padding-left: 22px;
  position: relative;
  margin-bottom: 12px; }
  .program-steps__item:before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    left: 0;
    top: 5px;
    background-color: #5D24D4;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .program-steps__item:last-child {
    margin-bottom: 0; }

.program-steps-finish {
  padding-top: 55px;
  padding-bottom: 60px;
  padding-left: 40px; }

.program-steps-finish__title {
  color: #ffffff;
  font-family: "Soyuz Grotesk Bold";
  font-size: 26px;
  margin-bottom: 20px; }

.program-steps-finish__item {
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto Bold";
  margin-bottom: 5px; }
  .program-steps-finish__item:last-child {
    margin-bottom: 0; }

.course-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.course-result__title {
  width: 100%;
  margin-bottom: 80px;
  font-family: "Soyuz Grotesk Bold";
  font-size: 32px;
  color: #ffffff;
  text-align: center; }

.course-result__item {
  width: 30%;
  margin-bottom: 75px; }

.course-result__image {
  height: 200px;
  margin-bottom: 25px; }

.course-result__text {
  color: #ffffff;
  font-family: "Roboto Bold";
  font-size: 18px; }

.bonus-title {
  color: #ffffff;
  text-align: center;
  font-size: 100px;
  font-family: "Soyuz Grotesk Bold";
  margin-bottom: 40px; }

.swiper-2 {
  height: 500px;
  max-width: 870px;
  width: 100%;
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px); }
  .swiper-2 .swiper-button-prev {
    right: -41px;
    top: 160px;
    left: inherit;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .swiper-2 .swiper-button-next {
    bottom: 160px;
    right: -41px;
    top: inherit;
    left: inherit;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.bonus-wrapper {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 75px;
  padding-bottom: 86px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%; }
  .bonus-wrapper_1 {
    background-image: url(../assets/images/bonus/1.png); }
  .bonus-wrapper_2 {
    background-image: url(../assets/images/bonus/2.png); }
  .bonus-wrapper_3 {
    background-image: url(../assets/images/bonus/3.png); }
  .bonus-wrapper_4 {
    background-image: url(../assets/images/bonus/4.png); }
  .bonus-wrapper_5 {
    background-image: url(../assets/images/bonus/5.png); }
  .bonus-wrapper_6 {
    background-image: url(../assets/images/bonus/6.png); }
  .bonus-wrapper_7 {
    background-image: url(../assets/images/bonus/7.png); }

.bonus-header {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.bonus-header__number {
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto Bold";
  margin-bottom: 5px; }

.bonus-header__title {
  margin-bottom: 90px;
  font-size: 65px;
  font-family: "Roboto Bold";
  color: #ffffff;
  text-transform: uppercase; }

.bonus-main {
  padding-top: 13px;
  border-top: 3px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.bonus-main__title {
  font-family: "Soyuz Grotesk Bold";
  color: #ffffff;
  font-size: 40px; }

.bonus-main__author {
  color: #ffffff;
  font-size: 16px; }

.packages {
  background-color: #ffffff;
  padding-top: 250px;
  padding-bottom: 100px; }

.packages__title {
  font-size: 100px;
  font-family: "Soyuz Grotesk Bold";
  text-align: center;
  margin-bottom: 50px; }

.packages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.packages-item {
  width: 33%;
  border: 2px solid #000000; }
  .packages-item .button {
    width: 100%;
    background-color: #2F17C0;
    border-color: #2F17C0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .packages-item .button:hover {
      background-color: #ffffff; }
      .packages-item .button:hover .button__label {
        color: #2F17C0; }
      .packages-item .button:hover .button__icon {
        fill: #2F17C0; }

.packages-header {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 2px solid #000000; }

.packages-header__name {
  font-family: "Soyuz Grotesk Bold";
  font-size: 50px; }

.packages-header__label {
  font-size: 14px; }

.packages-information {
  padding: 15px; }

.packages-information__time {
  font-family: "Soyuz Grotesk Bold";
  font-size: 16px;
  margin-bottom: 50px;
  min-height: 72px; }

.packages-information__modules {
  font-size: 18px;
  margin-bottom: 50px;
  min-height: 40px; }

.packages-bonus-list {
  margin-bottom: 50px;
  min-height: 190px; }

.packages-bonus-list__title {
  font-family: "Soyuz Grotesk Bold";
  margin-bottom: 10px; }

.packages-bonus-list__text {
  font-size: 14px;
  padding-left: 15px;
  position: relative; }
  .packages-bonus-list__text:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    height: 5px;
    width: 5px;
    background-color: #5D24D4;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.reviews {
  background-color: #F1F1F1;
  padding-top: 100px;
  padding-bottom: 200px;
  overflow-x: hidden; }
  .reviews .navigation-swiper {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; }
    .reviews .navigation-swiper .swiper-button-prev {
      left: inherit;
      right: 100px; }
    .reviews .navigation-swiper .swiper-button-next {
      right: 0; }

.reviews__title {
  margin-bottom: 95px;
  font-family: "Soyuz Grotesk Bold";
  font-size: 36px; }

.swiper-3 .swiper-slide {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  width: 695px; }

.reviews-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer {
  padding: 60px 0 16px 0;
  border-top: 1px solid #000000;
  background-color: #F1F1F1; }
  .footer .button {
    border: none;
    padding-left: 0; }
    .footer .button__label {
      font-size: 22px;
      margin-right: 15px;
      color: #000000; }
    .footer .button__icon {
      fill: #000000; }

.footer-wrapper {
  max-width: 695px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.copyright {
  color: #000000;
  text-align: center;
  font-size: 12px;
  width: 100%;
  padding-top: 30px;
  line-height: 1.5; }

/* = CONTAINER = */
.container {
  margin: 0 auto;
  position: relative;
  width: 100%; }

@media screen and (max-width: 568px) {
  .container {
    padding-left: 5px;
    padding-right: 5px; } }

@media screen and (min-width: 568px) and (max-width: 767px) {
  .container {
    max-width: 568px;
    padding-left: 5px;
    padding-right: 5px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 768px;
    padding-left: 10px;
    padding-right: 10px; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 992px;
    padding-left: 15px;
    padding-right: 15px; } }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1048px; }
    .container.container_1200 {
      max-width: 1200px; } }

/* = CONTAINER END = */
/* = MEDIA = */
@media (orientation: landscape) and (max-width: 992px) {
  .skr4t-start {
    bottom: 5px !important;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .skr4t-start__text {
    text-align: center !important; } }

@media screen and (max-width: 1400px) {
  .swiper-button-prev {
    width: 50px;
    height: 50px; }
    .swiper-button-prev::after {
      height: 9px;
      width: 24px; }
  .swiper-button-next {
    width: 50px;
    height: 50px; }
    .swiper-button-next::after {
      height: 9px;
      width: 24px; }
  .swiper-1 {
    width: 100%;
    height: 60vw; }
    .swiper-1 .swiper-slide {
      width: 90%; }
    .swiper-1 .swiper-button-prev {
      left: 20px; }
    .swiper-1 .swiper-button-next {
      right: 20px; }
  .after-description {
    max-width: 65%; }
    .after-description .button {
      padding: 10px 5px; }
    .after-description .button__label {
      font-size: 14px; }
  .after-description__title {
    margin-bottom: 15px;
    font-size: 1.45vw; }
  .after-description__item {
    font-size: 1.25vw; }
  .swiper-2 .swiper-button-prev {
    top: 200px;
    right: -25px; }
  .swiper-2 .swiper-button-next {
    bottom: 200px;
    right: -25px; }
  .reviews .navigation-swiper {
    top: 10px; }
    .reviews .navigation-swiper .swiper-button-prev {
      right: 70px; } }

@media screen and (max-width: 1200px) {
  .skr4t-information__title {
    font-size: 16px; }
  .skr4t-information__subtitle {
    font-size: 90px; }
  .skr4t-start__text {
    font-size: 16px; }
  .text {
    font-size: 30px; }
  .information {
    min-height: inherit; }
    .information .container {
      min-height: inherit;
      padding-top: 150px;
      padding-bottom: 250px; }
  .information-course__text {
    font-size: 16px; }
  .description {
    padding-top: 50px; }
  .author__title {
    font-size: 90px;
    margin-bottom: 0; }
  .description-whom__title {
    font-size: 30px;
    margin-bottom: 75px; }
  .description-list {
    margin-bottom: 100px; }
  .description-item__label {
    font-size: 24px; }
  .description-item {
    padding-bottom: 50px; }
  .description-item-information__text {
    font-size: 16px; }
  .description-item-information__plus {
    font-size: 16px; }
  .author-description {
    margin-bottom: 50px; }
  .author-description__photo {
    height: 600px; }
  .author-description-wrapper__text {
    margin-bottom: 25px; }
  .author-description-wrapper__background {
    font-size: 30px; }
  .after__title {
    font-size: 90px; }
  .course-advantages__image {
    height: 400px; }
  .problems-video-item {
    left: 15px; }
  .problems-video-item__text {
    font-size: 16px; }
  .problems-video-item__label {
    margin-bottom: 25px; }
  .problems-video-item__text .x {
    height: 10px;
    width: 10px;
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px); }
    .problems-video-item__text .x__item {
      height: 3px; } }

@media screen and (max-width: 992px) {
  .header-navigation {
    padding-left: 15px;
    padding-right: 15px; }
  .text {
    max-width: 100%; }
    .text br {
      display: none; }
  .text__title {
    display: block;
    width: inherit; }
  .author .text {
    margin-bottom: 25px; }
  .author__title {
    font-size: 75px; }
  .author-wrapper {
    padding-top: 100px;
    padding-bottom: 100px; }
  .author-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .author-description__photo {
    margin-bottom: 25px;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    -o-object-position: top;
    object-position: top;
    -o-object-fit: cover;
    object-fit: cover; }
  .author-description-wrapper {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
  .author-description-wrapper__name {
    margin-bottom: 20px; }
  .author-description-wrapper__text {
    text-align: left;
    margin-bottom: 10px; }
  .author-description-wrapper__background {
    margin-bottom: 10px; }
    .author-description-wrapper__background.bg-1 {
      -ms-flex-item-align: start;
      align-self: flex-start; }
    .author-description-wrapper__background.bg-2 {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
    .author-description-wrapper__background.bg-3 {
      -ms-flex-item-align: end;
      align-self: flex-end; }
  .video {
    background: transparent;
    height: 380px;
    width: 90%;
    margin: 0 auto; }
  .after__title {
    font-size: 75px; }
  .swiper-1 .swiper-slide {
    width: 100%; }
    .swiper-1 .swiper-slide::before {
      background: rgba(0, 0, 0, 0.4); }
  .swiper-1 .swiper-button-prev {
    top: 30px; }
  .swiper-1 .swiper-button-next {
    top: 30px; }
  .after-description {
    padding-left: 15px;
    padding-bottom: 15px;
    max-width: 100%; }
    .after-description .button {
      padding: 10px 5px; }
    .after-description .button__label {
      font-size: 14px; }
  .after-description__title {
    font-size: 16px; }
  .after-description__item {
    font-size: 14px; }
  .problems-video-item {
    left: 10px; }
  .title {
    font-size: 75px; }
    .title__2 {
      font-size: 60px; }
    .title__3 {
      font-size: 45px; }
  .after-course {
    padding-top: 75px;
    padding-bottom: 75px; }
    .after-course .title .x {
      height: 200px;
      width: 200px; }
      .after-course .title .x__item {
        height: 75px; }
    .after-course .description-list {
      margin-bottom: 75px; }
    .after-course .text {
      margin-bottom: 75px; }
  .problems {
    padding-top: 75px;
    padding-bottom: 75px; }
  .course-program {
    padding-top: 75px; }
  .course-advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 75px; }
    .course-advantages .text {
      margin-bottom: 75px; }
  .course-advantages__image {
    margin-bottom: 25px; }
  .course-advantages-wrapper {
    width: 100%; }
  .course-program__title {
    font-size: 80px;
    margin-bottom: 100px; }
  .course-result__text {
    font-size: 14px; }
  .bonus-title {
    font-size: 80px; }
  .bonus-wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 55px; }
  .bonus-header__title {
    font-size: 60px; }
  .packages {
    padding-top: 175px; }
  .packages__title {
    font-size: 80px; }
  .packages-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .packages-item {
    width: 45%; }
    .packages-item:nth-child(3) {
      margin-top: 30px; }
  .reviews {
    padding-top: 75px;
    padding-bottom: 75px; }
  .swiper-2 .swiper-button-prev {
    right: 55px;
    top: 0;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); }
  .swiper-2 .swiper-button-next {
    right: 0;
    bottom: inherit;
    top: 0;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); }
  .program-label {
    font-size: 22px;
    margin-bottom: 15px; }
  .program-title {
    font-size: 22px;
    margin-bottom: 15px; }
  .program-steps-finish__item {
    font-size: 16px; }
  .program-steps {
    padding-top: 45px;
    padding-bottom: 25px;
    padding-left: 20px; }
  .program-steps-finish {
    padding-top: 45px;
    padding-bottom: 40px;
    padding-left: 20px; } }

@media screen and (max-width: 768px) {
  .header-navigation {
    padding-top: 10px;
    padding-bottom: 10px; }
    .header-navigation .button {
      padding: 10px; }
    .header-navigation .button__label {
      font-size: 14px;
      margin-right: 5px; }
  .navigation-logo {
    font-size: 10px; }
    .navigation-logo span {
      font-size: 18px; }
  .skr4t-information__title {
    font-size: 11px; }
  .skr4t-information__subtitle {
    font-size: 45px; }
  .skr4t-start {
    left: 0;
    right: inherit;
    bottom: 100px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .skr4t-start__text {
    font-size: 14px;
    text-align: center; }
  .text {
    font-size: 24px; }
  .information .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 120px;
    padding-top: 75px; }
  .information-course {
    width: 90%;
    position: inherit;
    right: inherit;
    bottom: inherit;
    text-align: center;
    padding-top: 50px; }
    .information-course__text br {
      display: none; }
  .info-nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .description {
    padding-top: 0; }
    .description .text {
      margin-bottom: 25px; }
  .description-whom__title {
    margin-bottom: 25px; }
  .description-item__label {
    font-size: 18px; }
  .description-item-information__text {
    font-size: 14px; }
  .author__title {
    font-size: 50px; }
  .author-description {
    margin-bottom: 15px; }
  .author-description__photo {
    height: 250px;
    width: 250px; }
  .after__title {
    font-size: 50px; }
  .video {
    height: 280px; }
  .footer {
    padding: 25px 0 25px 0; }
  .footer-wrapper {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .footer-wrapper .button__label {
      font-size: 18px; }
  .swiper-1 {
    height: auto; }
    .swiper-1 .swiper-slide {
      padding-top: 150px;
      padding-right: 0;
      padding-bottom: 50px; }
  .after-description {
    border: none; }
  .problems-video-item {
    left: 5px; }
  .title {
    font-size: 60px; }
    .title__2 {
      font-size: 45px; }
    .title__3 {
      font-size: 35px; }
    .title__4 {
      font-size: 25px; }
  .after-course .title .x {
    height: 100px;
    width: 100px;
    -webkit-animation-duration: 5s;
    animation-duration: 5s; }
    .after-course .title .x__item {
      height: 35px; }
  .description-item-information__text .x {
    height: 10px;
    width: 10px;
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    margin-right: 5px; }
    .description-item-information__text .x__item {
      height: 3px; }
  .x.x_outline:before {
    display: none; }
  .x.x_outline .x__item {
    background-color: #ffffff;
    border: none; }
  .course-advantages__image {
    height: 315px; }
  .course-program__title {
    font-size: 65px; }
  .course-result__title {
    font-size: 30px; }
  .course-result__item {
    width: 45%;
    text-align: center; }
  .bonus-title {
    font-size: 60px; }
  .swiper-2 {
    height: 400px; }
  .bonus-header__title {
    font-size: 45px; }
  .bonus-wrapper {
    padding-left: 10px;
    padding-right: 10px; }
  .bonus-main {
    padding-top: 5px; }
  .bonus-main__title {
    font-size: 30px; }
  .bonus-main__author {
    font-size: 14px; }
  .packages__title {
    font-size: 60px; }
  .packages-item {
    width: 300px;
    margin-bottom: 15px; }
    .packages-item:nth-child(3) {
      margin-top: 0; }
  .packages-header__name {
    font-size: 40px; }
  .reviews__title {
    margin-bottom: 0; }
  .reviews .container {
    padding-bottom: 75px; }
  .reviews .navigation-swiper {
    width: 120px;
    height: 50px;
    right: inherit;
    left: 50%;
    top: inherit;
    bottom: 15px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .reviews .navigation-swiper .swiper-button-prev {
      left: 0;
      right: inherit; }
  .swiper-3 {
    margin-left: 0 !important; }
    .swiper-3 .swiper-slide {
      width: 100%; }
  .program-label {
    font-size: 18px; }
  .program-title {
    font-size: 18px; }
    .program-title br {
      display: none; }
  .program-tabs__item {
    padding: 8px 15px; }
  .program-steps {
    padding-top: 13px; }
  .program-steps__item {
    font-size: 14px; }
  .program-steps-finish {
    padding-top: 13px; }
  .program-steps-finish__title {
    font-size: 18px; }
  .program-steps-finish__item {
    font-size: 14px; }
  .program-column:first-child {
    padding-right: 5px; }
  .program-tabs__item {
    margin-right: 5px; } }

@media screen and (max-width: 667px) {
  .after-description__item {
    font-size: 12px; } }

@media screen and (max-width: 568px) {
  .text {
    font-size: 18px; }
  .text__title {
    font-size: 12px; }
  .information-course__text {
    font-size: 14px; }
  .description {
    padding-bottom: 50px; }
  .description-whom__title {
    font-size: 20px;
    text-align: center; }
  .description-list {
    margin-bottom: 50px; }
  .author-wrapper {
    padding-top: 50px;
    padding-bottom: 50px; }
  .author__title {
    font-size: 40px; }
  .author-description-wrapper__background {
    font-size: 20px; }
    .author-description-wrapper__background span {
      font-size: 14px; }
  .video {
    width: 100%;
    height: 60vw; }
  .after__title {
    font-size: 40px; }
  .problems-video-item {
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    top: 25px; }
  .problems-video-wrapper {
    height: 550px; }
  .problems-video-item__text {
    font-size: 14px; }
  .info-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .info-nav .button {
      margin-right: 0;
      margin-bottom: 15px; }
  .title {
    font-size: 40px; }
    .title__2 {
      font-size: 30px; }
    .title__3 {
      font-size: 22px; }
    .title__4 {
      font-size: 18px; }
  @-webkit-keyframes x {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    50% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px); }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0); } }
  @keyframes x {
    0% {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    50% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px); }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0); } }
  .description-item-information__plus {
    padding-top: 25px; }
  .course-program .text {
    margin-bottom: 50px; }
  .course-advantages__image {
    height: 275px; }
  .course-advantages-wrapper__title {
    font-size: 20px; }
  .course-advantages-wrapper__item {
    font-size: 14px; }
  .course-program__title {
    font-size: 40px;
    margin-bottom: 50px; }
  .course-result__title {
    font-size: 20px;
    margin-bottom: 50px; }
  .course-result__image {
    height: 150px; }
  .bonus-title {
    font-size: 40px;
    margin-bottom: 0; }
  .swiper-2 {
    max-width: 414px;
    height: 325px; }
  .bonus-header__number {
    font-size: 14px; }
  .bonus-header__title {
    font-size: 35px; }
  .bonus-main__title {
    font-size: 24px; }
  .bonus-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .packages {
    padding-top: 120px; }
  .packages__title {
    font-size: 40px; }
  .reviews__title {
    font-size: 30px;
    text-align: center; }
  .program-label,
  .program-title {
    font-size: 14px; }
  .program-tabs__item {
    font-size: 14px;
    padding: 5px 8px; }
  .program-steps,
  .program-steps-finish {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px; }
  .program-steps__item {
    padding-left: 15px; } }

@media screen and (max-width: 480px) {
  .swiper-button-prev {
    width: 35px;
    height: 35px; }
  .swiper-button-next {
    width: 35px;
    height: 35px; }
  .swiper-1 .swiper-slide {
    padding-top: 75px;
    padding-bottom: 25px; }
  .after-description__title {
    margin-bottom: 8px; }
  .after-description__item {
    margin-bottom: 5px; }
  .after-description {
    padding-right: 15px; }
  .course-result__text {
    font-size: 12px; }
    .course-result__text br {
      display: none; }
  .course-result__image {
    height: 120px; }
  .reviews .navigation-swiper {
    width: 80px; } }

@media screen and (max-width: 414px) {
  .description-item {
    padding-bottom: 25px;
    border-width: 1px; }
  .description-item__label {
    font-size: 16px; }
  .description-item-information__text {
    font-size: 12px; } }

@media screen and (max-width: 360px) {
  .skr4t-start__text br {
    display: none; } }

/* = MEDIA END = */
