/* = MEDIA = */
@media (orientation: landscape) and (max-width:992px) {
  .skr4t-start{
    bottom: 5px!important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skr4t-start__text {
    text-align: center!important;
  }
}
@media screen and (max-width:1400px){
  .swiper-button-prev {
      width: 50px;
      height: 50px;
      &::after {
          height: 9px;
          width: 24px;
      }
    }
  .swiper-button-next {
      width: 50px;
      height: 50px;
      &::after {
          height: 9px;
          width: 24px;
      }
  }
  // VIDEO SWIPER
  .swiper-1 {
    width: 100%;
    height: 60vw;
    .swiper-slide {
      width: 90%;
    }
    .swiper-button-prev{
        left: 20px;
    }
    .swiper-button-next{
        right: 20px;
    }
  }
  .after-description {
    max-width: 65%;
    .button {
      padding: 10px 5px;
    }
    .button__label {
      font-size: 14px;
    }
  }
  .after-description__title {
    margin-bottom: 15px;
    font-size: 1.45vw;
  }
  .after-description__item {
    font-size: 1.25vw;
  }
  // SWIPER BONUS 
  .swiper-2 {
    .swiper-button-prev {
      top: 200px;
      right: -25px;
    }
    .swiper-button-next {
      bottom: 200px;
      right: -25px;
    }
  }
  // SWIPER REVIEWS
  .reviews {
    .navigation-swiper {
      top: 10px;
      .swiper-button-prev {
        right: 70px;
      }
    }
  }
  
}
@media screen and (max-width:1200px){
  .skr4t-information__title {
    font-size: 16px;
  }
  .skr4t-information__subtitle {
    font-size: 90px;
  }
  .skr4t-start__text {
    font-size: 16px;
  }
  .text {
    font-size: 30px;
  }
  .information {
    min-height: inherit;
    .container {
      min-height: inherit;
      padding-top: 150px;
      padding-bottom: 250px;
    }
  }
  .information-course {
    &__text {
      font-size: 16px;
    }
  }
  .description {
    padding-top: 50px;
  }
  .author__title {
    font-size: 90px;
    margin-bottom: 0;
  }
  .description-whom__title {
    font-size: 30px;
    margin-bottom: 75px;
  }
  .description-list {
    margin-bottom: 100px;
  }
  .description-item__label{ 
    font-size: 24px;
  }
  .description-item {
    padding-bottom: 50px;
  }
  .description-item-information__text {
    font-size: 16px;
  }
  .description-item-information__plus {
    font-size: 16px;
  }
  .author-description {
    margin-bottom: 50px;
  }
  .author-description__photo {
    height: 600px;
  }
  .author-description-wrapper__text {
    margin-bottom: 25px;
  }
  .author-description-wrapper__background {
    font-size: 30px;
  }
  .after__title {
    font-size: 90px;
  }
  .course-advantages__image {
    height: 400px;
  }
}
@media screen and (max-width:992px){
  .header-navigation {
    padding-left: 15px;
    padding-right: 15px;
  }
  .text {
    max-width: 100%;
    br {
      display: none;
    }
  }
  .text__title {
    display: block;
    width: inherit;
  }
  .author .text {
    margin-bottom: 25px;
  }
  .author__title {
    font-size: 75px;
  }
  .author-wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .author-description {
    flex-direction: column;
    align-items: center;
  }
  .author-description__photo {
    margin-bottom: 25px;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    object-position: top;
    object-fit: cover;
  }
  .author-description-wrapper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
  .author-description-wrapper__name {
    margin-bottom: 20px;
  }
  .author-description-wrapper__text {
    text-align: left;
    margin-bottom: 10px;
  }
  .author-description-wrapper__background {
    margin-bottom: 10px;
    &.bg-1 {
      align-self: flex-start;
    }
    &.bg-2 {
      align-self: center;
    }
    &.bg-3 {
      align-self: flex-end;
    }
  }
  .video {
    background: transparent;
    height: 380px;
    width: 90%;
    margin: 0 auto;
  }
  .after__title {
    font-size: 75px;
  }
  .swiper-1 {
    .swiper-slide {
      width: 100%;
      &::before {
        background: rgba(0,0,0, 0.4);
      }
    }
    .swiper-button-prev {
      top: 30px;
    }
    .swiper-button-next {
      top: 30px;
    }
  }
  
  .after-description {
    padding-left: 15px;
    padding-bottom: 15px;
    max-width: 100%;
    .button {
      padding: 10px 5px;
    }
    .button__label {
      font-size: 14px;
    }
  }
  .after-description__title {
    font-size: 16px;
  }
  .after-description__item {
    font-size: 14px;
  }
  // NEW SECTIONS
  .title {
    font-size: 75px;
    &__2 {
      font-size: 60px;
    }
    &__3 {
      font-size: 45px;
    }
  }
  .after-course {
    padding-top: 75px;
    padding-bottom: 75px;
    .title {
      .x {
        height: 200px;
        width: 200px;
        &__item {
          height: 75px;
        }
      }
    }
    .description-list {
      margin-bottom: 75px;
    }
    .text {
      margin-bottom: 75px;
    }
  }
  .problems {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .course-program {
    padding-top: 75px;
  }
  .course-advantages {
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
    .text {
      margin-bottom: 75px;
    }
  }
  .course-advantages__image {
    margin-bottom: 25px;
  }
  .course-advantages-wrapper{
    width: 100%;
  }
  .course-program__title {
    font-size: 80px;
    margin-bottom: 100px;
  }
  .course-result__text {
    font-size: 14px;
  }
  .bonus-title {
    font-size: 80px;
  }
  .bonus-wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 55px;
  }
  .bonus-header__title {
    font-size: 60px;
  }
  .packages {
    padding-top: 175px;
  }
  .packages__title {
    font-size: 80px;
  }
  .packages-list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .packages-item {
    width: 45%;
    &:nth-child(3) {
      margin-top: 30px;
    }
  }
  .reviews {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .swiper-2 {
    .swiper-button-prev {
      right: 55px;
      top: 0;
      transform: rotate(0);
    }
    .swiper-button-next {
      right: 0;
      bottom: inherit;
      top: 0;
      transform: rotate(0);
    }
  }
  // PROGRAM LIST 
  .program-label {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .program-title {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .program-steps-finish__item {
    font-size: 16px;
  }
  .program-steps {
    padding-top: 45px;
    padding-bottom: 25px;
    padding-left: 20px;
  }
  .program-steps-finish {
    padding-top: 45px;
    padding-bottom: 40px;
    padding-left: 20px;
  }
}
@media screen and (max-width:768px){
  .header-navigation {
    padding-top:10px;
    padding-bottom:10px;
    .button{
      padding:10px;
    }
    .button__label{ 
      font-size: 14px;
      margin-right: 5px;
    }
  }
  .navigation-logo{
    font-size: 10px;
    span{
      font-size: 18px;
    }
  }
  .skr4t-information__title {
    font-size: 11px;
  }
  .skr4t-information__subtitle {
    font-size: 45px;
  }
  .skr4t-start{
    left: 0;
    right: inherit;
    bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skr4t-start__text {
    font-size: 14px;
    text-align: center;
  }
  .text {
    font-size: 24px;
  }
  .information .container {
    flex-direction: column;
    padding-bottom: 120px;
    padding-top: 75px;
  }
  .information-course {
    width: 90%;
    position: inherit;
    right: inherit;
    bottom: inherit;
    text-align: center;
    padding-top: 50px;
    &__text {
      br{
        display: none;
      }
    }
  }
  .info-nav {
    justify-content: center;
  }
  .description {
    padding-top: 0;
    .text {
      margin-bottom: 25px;
    }
  }
  .description-whom__title{
    margin-bottom: 25px;
  }
  .description-item__label{
    font-size: 18px;
  }
  .description-item-information__text {
    font-size: 14px;
  }
  .author__title{
    font-size: 50px;
  }
  .author-description {
    margin-bottom: 15px;
  }
  .author-description__photo{
    height: 250px;
    width: 250px;
  }
  .after__title {
    font-size: 50px;
  }
  .video {
    height: 280px;
  }
  .footer {
    padding: 25px 0 25px 0;
  }
  .footer-wrapper {
    justify-content: space-around;
    .button__label {
      font-size: 18px;
    }
  }
  // SWIPER VIDEO
  .swiper-1 {
    height: auto;
    .swiper-slide {
      padding-top: 150px;
      padding-right: 0;
      padding-bottom: 50px; 
    }
  }
  .after-description {
    border: none;
  }
  // NEW SECTIONS
  .title{
     font-size: 60px;
     &__2 {
       font-size: 45px;
     }
     &__3 {
       font-size: 35px;
     }
     &__4 {
       font-size: 25px;
     }
  }
  .after-course .title {
    .x {
      height: 100px;
      width: 100px;
      animation-duration: 5s;
      &__item {
        height: 35px;
      }
    }
  }
  .description-item-information__text {
    .x {
      height: 10px;
      width: 10px;
      transform: translateY(4px);
      margin-right: 5px;
      &__item {
        height:3px;
      }
    }
  }
  .x.x_outline {
    &:before {
      display: none;
    }
    .x__item {
      background-color: #ffffff;
      border:none;
    }
  }
  .course-advantages__image {
    height: 315px;
  }
  .course-program__title {
    font-size: 65px;
  }
  .course-result__title {
    font-size: 30px;
  }
  .course-result__item {
    width: 45%;
    text-align: center;
  }
  .bonus-title {
    font-size: 60px;
  }
  .swiper-2 {
    height: 400px;
  }
  .bonus-header__title {
    font-size: 45px;
  }
  .bonus-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .bonus-main {
    padding-top: 5px;
  }
  .bonus-main__title {
    font-size: 30px;
  }
  .bonus-main__author {
    font-size: 14px;
  }
  .packages__title {
    font-size: 60px;
  }
  .packages-item {
    width: 300px;
    margin-bottom: 15px;
    &:nth-child(3) {
      margin-top: 0;
    }
  }
  .packages-header__name {
    font-size: 40px;
  }
  .reviews__title {
    margin-bottom: 0;
  }
  .reviews {
    .container {
      padding-bottom: 75px;
    }
  }
  .reviews .navigation-swiper{
    width: 120px;
    height: 50px;
    right: inherit;
    left: 50%;
    top: inherit;
    bottom:15px;
    transform: translateX(-50%);
    .swiper-button-prev {
      left: 0;
      right: inherit;
    }
  }
  .swiper-3 {
    margin-left: 0!important;
    .swiper-slide {
      width: 100%;
    }
  }
  // PROGRAM LIST
  .program-label {
    font-size: 18px;
  }
  .program-title {
    font-size: 18px;
    br {
      display: none;
    }
  }
  .program-tabs__item {
    padding: 8px 15px;
  }
  .program-steps {
    padding-top: 13px;
  }
  .program-steps__item {
    font-size: 14px;
  }
  .program-steps-finish {
    padding-top: 13px;
  }
  .program-steps-finish__title {
    font-size: 18px;
  }
  .program-steps-finish__item {
    font-size: 14px;
  }
  .program-column:first-child {
    padding-right: 5px;
  }
  .program-tabs__item{
    margin-right: 5px;
  }
}
@media screen and (max-width:667px){
  .after-description__item{
    font-size: 12px;
  }
}
@media screen and (max-width:640px){}
@media screen and (max-width:568px){
  .text {
    font-size: 18px;
  }
  .text__title {
    font-size: 12px;
  }
  .information-course__text {
    font-size: 14px;
  }
  .description{
    padding-bottom: 50px;
  }
  .description-whom__title{
      font-size: 20px;
      text-align: center;
  }
  .description-list {
    margin-bottom: 50px;
  }
  .author-wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .author__title {
    font-size: 40px;
  }
  .author-description-wrapper__background{
    font-size: 20px;
    span{
      font-size: 14px;
    }
  }
  .video {
    width: 100%;
    height: 60vw;
  }
  .after__title{
    font-size: 40px;
  }
  // NEW SECTION
  .info-nav {
    .button {
      margin-right: 0;
      margin-bottom: 15px;
    }
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 40px;
    &__2 {
      font-size: 30px;
    }
    &__3 {
      font-size: 22px;
    }
    &__4 {
      font-size: 18px;
    }
  }
  @keyframes x {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
  }
  .description-item-information__plus {
    padding-top: 25px;
  }
  .course-program .text {
    margin-bottom: 50px;
  }
  .course-advantages__image {
    height: 275px;
  }
  .course-advantages-wrapper__title {
    font-size: 20px;
  }
  .course-advantages-wrapper__item {
    font-size: 14px;
  }
  .course-program__title{
    font-size: 40px;
    margin-bottom: 50px;
  }
  .course-result__title {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .course-result__image{
    height: 150px;
  }
  .bonus-title{
    font-size: 40px;
    margin-bottom: 0;
  }
  .swiper-2 {
    max-width: 414px;
    height: 325px;
  }
  .bonus-header__number {
    font-size: 14px;
  }
  .bonus-header__title {
    font-size: 35px;
  }
  .bonus-main__title {
    font-size: 24px;
  }
  .bonus-main {
    flex-direction: column;
    align-items: flex-start;
  }
  .packages {
    padding-top: 120px;
  }
  .packages__title{
    font-size: 40px;
  }
  .reviews__title {
    font-size: 30px;
    text-align: center;
  }
  // PROGRAM LIST 
  .program-label,
  .program-title {
    font-size: 14px;
  }
  .program-tabs__item{
    font-size: 14px;
    padding: 5px 8px;
  }
  .program-steps,
  .program-steps-finish {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  .program-steps__item {
    padding-left: 15px;
  }
}
@media screen and (max-width:480px){
  .swiper-button-prev{
    width: 35px;
    height: 35px;
  }
  .swiper-button-next{
    width: 35px;
    height: 35px;
  }
  .swiper-1 {
    .swiper-slide {
      padding-top: 75px;
      padding-bottom: 25px;
    }
  }
  .after-description__title{
    margin-bottom: 8px;
  }
  .after-description__item{
    margin-bottom: 5px;
  }
  .after-description{
    padding-right: 15px;
  }
  .course-result__text {
    font-size: 12px;
    br {
      display: none;
    }
  }
  .course-result__image {
    height: 120px;
  }
  .reviews .navigation-swiper {
    width: 80px;
  }
}
@media screen and (max-width:414px){
  .description-item {
    padding-bottom: 25px;
    border-width: 1px;
  }
  .description-item__label{
    font-size: 16px;
  }
  .description-item-information__text{
    font-size: 12px;
  }
}
@media screen and (max-width:375px){}
@media screen and (max-width:360px){
  .skr4t-start__text{
    br {
      display: none;
    }
  }
}
@media screen and (max-width:320px){}
/* = MEDIA END = */